html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* ================================ 1 : Header ================================ */
.header {
  background-color: #212529;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.header__logo {
  width: 18%;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-item {
  padding-left: 3rem;
}
.header__list-item__link {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.header__list-item__link:hover {
  color: #fed136;
}

.banner__img {
  position: relative;
}
.banner__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.banner__welcome {
  font-size: 4rem;
  color: white;
  font-style: italic;
  font-weight: 400;
  padding: 34rem 0 4rem;
}
.banner__desc {
  font-size: 8rem;
  color: white;
  font-weight: 700;
  padding-bottom: 6rem;
}
.banner__tellme {
  padding: 2rem 3.5rem;
  background-color: #fed136;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}
.banner__tellme:hover {
  background-color: #c9a936;
}

.services {
  padding: 6rem 0;
}
.services__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding-bottom: 2rem;
  color: #212529;
}
.services__desc {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  padding-bottom: 8rem;
}
.services__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__menu-item {
  text-align: center;
  width: calc(30% - 10px);
}
.services__menu-item__icon {
  font-size: 6rem;
  color: #fed136;
  padding-bottom: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.services__menu-item__icon::after {
  content: "";
  width: 30%;
  height: 90%;
  position: absolute;
  border-radius: 100px;
  background: currentColor;
  opacity: 0.25;
  z-index: 1;
}
.services__menu-item__title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.services__menu-item__desc {
  font-size: 1.6rem;
  color: #6c757d;
  line-height: 1.4;
}

.portfolio {
  background: #f8f9fa;
}
.portfolio__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding: 5rem 0 2rem 0;
  color: #212529;
}
.portfolio__desc {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  padding-bottom: 8rem;
}
.portfolio__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio__list-item {
  width: calc(33% - 10px);
  background-color: white;
  margin-bottom: 2rem;
}
.portfolio__list-item__name {
  text-align: center;
  padding-top: 3rem;
  font-weight: 500;
  font-size: 2.5rem;
  color: #212529;
}
.portfolio__list-item__desc {
  text-align: center;
  padding: 2rem 0 3rem 0;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
}
.portfolio__background {
  position: relative;
  display: block;
  margin: 0 auto;
}
.portfolio__background:hover .portfolio__background-over {
  display: flex;
}
.portfolio__background-over {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(254, 209, 54, 0.8);
  display: none;
}
.portfolio__background-over__plus {
  font-size: 5rem;
  color: white;
}

.about__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding: 5rem 0 2rem 0;
  color: #212529;
}
.about__desc {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  padding-bottom: 8rem;
}
.about__list {
  position: relative;
}
.about__list::before {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 72%;
  width: 3px;
  margin-left: 7.5px;
  content: "";
  background-color: #e9ecef;
}
.about__list-item {
  padding-bottom: 8rem;
}
.about__list-item__img {
  position: absolute;
  right: 204px;
  width: 17rem;
  height: 17rem;
  padding-top: 1rem;
  transition: transform 0.2s linear;
}
.about__list-item__img img {
  border-radius: 50%;
  border: 5px solid #cccccc;
}
.about__list-item__img:hover {
  transform: scale(1.1);
}
.about__list-item__content {
  padding: 0 2rem 2rem 10rem;
  max-width: 50%;
}
.about__list-item__content-title {
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: end;
  font-weight: 700;
  color: #212529;
}
.about__list-item__content-desc {
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: end;
  line-height: 1.5;
  color: #6c757d;
}
.about__end {
  margin-left: 68.5rem;
  margin-bottom: 10rem;
}
.about__end p {
  text-align: center;
  max-width: 17rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
  background: #fed136;
  color: white;
  border-radius: 50%;
  border: 5px solid #ccc;
}

.team {
  background: #f8f9fa;
}
.team__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding: 5rem 0 2rem 0;
  color: #212529;
}
.team__desc {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  padding-bottom: 8rem;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team__list-item {
  width: calc(30% - 2rem);
}
.team__list-item__avt {
  width: 60%;
  margin: 0 auto;
  transition: transform 0.2s linear;
}
.team__list-item__avt img {
  border-radius: 50%;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team__list-item__avt:hover {
  transform: scale(1.1);
}
.team__list-item__name {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #212529;
}
.team__list-item__position {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #6c757d;
  font-style: italic;
}
.team__list-item__social {
  text-align: center;
  padding-top: 2rem;
  font-size: 3.5rem;
}
.team__list-item__social i {
  padding-left: 2rem;
  color: #343a40;
  transition: transform 0.2s linear;
}
.team__list-item__social i:hover {
  color: #417fd1;
  transform: scale(1.1);
}
.team__end {
  font-size: 1.5rem;
  text-align: center;
  padding: 5rem 0;
  max-width: 72rem;
  margin: 0 auto;
  font-weight: 400;
  color: #6c757d;
  font-style: italic;
}

.logos__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 2rem;
}

.contact__background {
  position: relative;
}
.contact__background img {
  width: 100%;
  height: 70rem;
}
.contact__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.contact__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding: 10rem 0 2rem 0;
  color: white;
}
.contact__desc {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #6c757d;
  padding-bottom: 7rem;
}
.contact__item {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 5rem;
}
.contact__item-left {
  display: grid;
  width: 50%;
}
.contact__item-right {
  width: 50%;
  margin-left: 2rem;
}
.contact__input {
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  font-size: 1.6rem;
  color: #212529;
  font-family: "Poppins", sans-serif;
}
.contact__input::-webkit-input-placeholder {
  font-weight: 700;
  color: #cccccc;
}
.contact__input:focus {
  border: 1px solid #fed136;
}
.contact__message {
  padding: 2rem 1.5rem;
  width: 100%;
  height: 93%;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  font-size: 1.6rem;
  color: #212529;
  font-family: "Poppins", sans-serif;
}
.contact__message:focus {
  border: 1px solid #fed136;
}
.contact__message::-webkit-input-placeholder {
  font-weight: 700;
  color: #cccccc;
}
.contact__button {
  padding: 2rem 3.5rem;
  background-color: #fed136;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s linear;
  margin: 5rem 0;
}
.contact__button:hover {
  background-color: #c9a936;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
}
.footer__copy {
  font-size: 1.4rem;
  font-style: italic;
}
.footer__social {
  text-align: center;
  padding: 3rem 0;
  font-size: 4rem;
}
.footer__social i {
  padding-left: 4rem;
  color: #343a40;
  transition: transform 0.2s linear;
}
.footer__social i:hover {
  color: #417fd1;
  transform: scale(1.1);
}
.footer__link {
  font-size: 1.5rem;
  font-style: italic;
}
.footer__link a {
  color: #fed136;
  padding-left: 2rem;
}
.footer__link a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
